In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, text
import psycopg2

In [2]:
connection_string = "postgresql://root:root@localhost:5432/ny_taxi"
engine = create_engine(connection_string)
print(f"connection string: {connection_string}")

connection string: postgresql://root:root@localhost:5432/ny_taxi

In [3]:
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT 1"))
        print(f"Connection Successful: {result.fetchone()[0]}")
except Exception as e:
    print(f"Failed to Connect: {e}")

Connection Successful: 1

In [6]:
dtype = {
    "VendorID": "Int64",
    "lpep_pickup_datetime": "object",  
    "lpep_dropoff_datetime": "object",
    "store_and_fwd_flag": "string",
    "RatecodeID": "Int64",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "ehail_fee": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "payment_type": "Int64",
    "trip_type": "Int64",  
    "congestion_surcharge": "float64"
}

parse_dates = ["lpep_pickup_datetime", "lpep_dropoff_datetime"]

In [8]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
chunksize = 100000

for month in months:
    url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{month:02d}.csv.gz"
    
    print(f"Loading month {month}...")
    
    # Read first chunk to create table
    first_chunk = True
    
    for chunk in pd.read_csv(url, dtype=dtype, parse_dates=parse_dates,
                            compression='gzip', chunksize=chunksize):
        
        if first_chunk and month == 1:
            # First chunk of first month: create table
            chunk.to_sql('green_taxi', engine, if_exists='replace', index=False)
            first_chunk = False
        else:
            # All other chunks: append
            chunk.to_sql('green_taxi', engine, if_exists='append', index=False)
    
    print(f"Month {month} loaded")

Loading month 1...
Month 1 loaded
Loading month 2...
Month 2 loaded
Loading month 3...
Month 3 loaded
Loading month 4...
Month 4 loaded
Loading month 5...
Month 5 loaded
Loading month 6...
Month 6 loaded
Loading month 7...
Month 7 loaded
Loading month 8...
Month 8 loaded
Loading month 9...
Month 9 loaded
Loading month 10...
Month 10 loaded
Loading month 11...
Month 11 loaded
Loading month 12...
Month 12 loaded